footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    font-size: 1.5rem;
}
body {
    font-family: 'Finlandica Headline', sans-serif;
    text-align: center;
 }
banner.png {
    size: cover;
}
body {
    color:aliceblue;
}
.image-container {
    display: flex;     
    gap: 10px;           
}
.image-container img {
    width: 25%;      
    height: auto;       
}
.zoomable {
    width: 150px; 
    transition: transform 0.3s ease; 
    cursor: zoom-in;
}
.zoomed {
    transform: scale(2); 
    cursor: zoom-out;
    position: relative;
    z-index: 10; 
}

.container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

