footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    font-size: 1.5rem;
}
body {
    font-family: 'Finlandica Headline', sans-serif;
    text-align: center;
 }
banner.png {
    size: cover;
}
body {
    color:aliceblue;
}